/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}



h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  margin: 10px 0;
}


/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul{
  display:flex;
  flex-direction: row;
  justify-content: center;
  
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin:20px 0 10px 0;
}
.form-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form label {
  font-weight: bold;
  
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  
  background-color: #ff385c;
 
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}


/* -------  Media Query ------- */
@media all and (min-width:480px){
  
  /*Header style rules*/
  header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding:20px 10px;
    
  }
  

/*Form style rules*/
  form{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin:15px 22px;
    padding:10px;
  }
  form input,form select{
    margin:0;
  }
  
  .form-item{
    flex-direction: column;
    flex:content;
    justify-content: center;
    align-items: flex-start;
    
  }

 

  /*ideas style rules*/
.imgContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;
}


.places{
  
  margin: 10px;
  flex:40%;
}

.places h3{
  margin-top:10px;

}

  /* Host section */
  #host{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
  }
  
  #host div{
    flex:1;
    padding:10px;
  }

 





 /* ---  Groups & Items --- */

.group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

}
